@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Smooch Sans',
    sans-serif;
}
#navbar-container{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    color: #2c2e2f;
    font-weight: 70;
    box-shadow: 4px solid #CACDCD;
}
.logo{
    border: none;
    width: 90px;
    margin-left: 20px;
}
.navbar-text p{
    font-weight: 600;
    font-size: larger;
}
.button-1{
     border: none;
     background-color: #fff;
     color: #2C89C6;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     border-radius: 50px;
     cursor: pointer;
     border: 2px solid #2C89C6;
}
.button-2{
     border: none;
     background-color: #2C89C6;
     color: #FFFFFF;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     border-radius: 50px;
     cursor: pointer;
     border: 2px solid #2C89C6;
}
.hero-container{
    background-image: url('../img/payPal-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}
.text-button {
    text-align: center;
    margin-top: 10%;
}
.text-button > h4{
    color: white;
    font-size: 2.85714286rem;
    line-height: 1.25em;
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
}
.button-3{
      border: none;
      /* margin-top: 40px; */
      background-color: #2C89C6;
      color: #FFFFFF;
     padding: 12px 110px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 50px;
      cursor: pointer;
      border: 2px solid #2C89C6;
}
.hero-container p{
    display: block;
    padding-top: 10px;
    clear: left;
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 40px;
    color: white;
}
.hero-container span{
    font-weight: bolder;
    font-size: 1.07142857142857rem;
}